@model ProjectManager
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post" asp-action="Delete">
    <input asp-for="PMId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Delete Project Manager</h2>
            <hr />
        </div>
        @Html.HiddenFor(m => m.PMId)
        <div class="mb-3">
            <label asp-for="PMName">Name</label>
            <input asp-for="PMName" class="form-control" disabled placeholder="E.g. Joe Smith"/>
        </div>
        <div class="mb-3">
            <label asp-for="PMEmail">Email</label>
            <input asp-for="PMEmail" class="form-control" disabled placeholder="someone@example.com"/>
        </div>
        <div class="mb-3">
            <label asp-for="PMPhone">Phone</label>
            <input asp-for="PMPhone" class="form-control" disabled placeholder="9876543210" />
        </div>
        <div class="mb-3">
            <label asp-for="PMAddress">Address</label>
            <input asp-for="PMAddress" class="form-control" disabled placeholder="House no., street, area" />
        </div>
        <div class="mb-3">
            <label asp-for="PMLocation">Location</label>
            <input asp-for="PMLocation" class="form-control" disabled placeholder="City" />
        </div>
        <div class="mb-3">
            <label asp-for="PMState">State</label>
            <input asp-for="PMState" class="form-control" disabled placeholder="State" />
        </div>
        <div class="mb-3">
            <label asp-for="PMZipCode">Zip Code</label>
            <input asp-for="PMZipCode" class="form-control" disabled placeholder="E.g. 560001" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-controller="Customer" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back
        </a>
    </div>

</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
